@font-face {
  font-family: "Open Sans";
  src: url("../fonts/OpenSans-Regular.woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Open Sans";
  src: url("../fonts/OpenSans-Bold.woff");
  font-weight: 700;
  font-style: normal;
}

body {
  font-family: "Open Sans", sans-serif;
  background-color: #ffffff;
  margin: 0;
}

.main {
  overflow: hidden;
}

.header {
  background-color: #0a0e34;
  background-image: url("../images/football_767.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  position: relative;
  height: 100vh;
}

.header::after {
  content: '';
  background-color: #0a0e34;
  opacity: 0.9;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.header_container {
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 100vh;
  padding-top: 5.8vh;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 15vh;
  box-sizing: border-box;
}

.header_logo, .footer_logo {
  width: 133px;
  fill: #ffffff;
}

h1 {
  font-size: 1.75rem;
  font-weight: 700;
  text-transform: uppercase;
  color: #ffffff;
  margin: 0;
}

.header_title {
  max-width: 280px;
}

.header_title span {
  display: flex;
  justify-content: flex-end;
  padding-top: 20px;
  padding-left: 1.5em;
}

.storebutton_link {
  display: flex;
  padding-left: 80px;
  min-width: 280px;
  height: 35px;
  background-color: #5e42b0;
  border-radius: 17px;
  text-decoration: none;
  box-sizing: border-box;
}

.storebutton_link:nth-child(n+2) {
  margin-top: 14px;
}

.storebutton_content {
  display: flex;
  align-items: center;

}

.storebutton_logo {
  fill: #ffffff;
  width: 24px;
  height: 24px;
  flex-shrink: 0;
}

.storebutton_text {
  color: #ffffff;
  font-size: 0.5rem;
  text-transform: uppercase;
  margin-left: 8px;
}

.storebutton_text span {
  font-weight: 700;
  display: block;
}

.users {
  padding-top: 24px;
}

.users_title, .item_content {
  padding-left: 20px;
  padding-right: 20px;
}

h2 {
  font-weight: 700;
  font-size: 3.1rem;
  text-transform: uppercase;
  color: #e7e7e7;
  margin-top: 0;
  margin-bottom: 0;
}

.users_image {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.users_item {
  padding-top: 50px;
  padding-bottom: 40px;
}

.users_item:nth-child(1) {
  padding-top: 80px;
  background-color: #fafafa;
  margin-top: -55px;
}

.users_item:nth-child(2) {
  background-color: #f5f4f9;
}

.users_item:nth-child(3) {
  background-color: #5e42b0;
}

.item_title {
  display: flex;
  align-items: center;
}

.item_number, .feature_number {
  font-weight: 700;
  font-size: 0.875rem;
  color: #000000;
}

.item_number {
  margin-right: 10px;
}

.item_number::after, .feature_number::after {
  content: '';
  display: block;
  background-color: #5e42b0;
  border-radius: 2px;
  width: 1.2em;
  height: 4px;
}

.item_growth .item_number::after {
  background-color: #ffffff;
}


h3 {
  font-weight: 700;
  font-size: 1.4rem;
  text-transform: uppercase;
  color: #c1c1c1;
  margin: 0;
}

.item_text {
  font-size: 0.9rem;
}

.users_item:nth-child(3) .item_text {
  color: #ffffff;
}

.users:nth-child(2n) .users_item:nth-child(3) {
  background-color: #090c35;
}

.users:nth-child(2n) .users_item:nth-child(3) .item_number {
  color: #8765dd;
}

.feature_image {
  display: block;
  width: 100%;
  position: relative;
}

.feature_content {
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 60px;
  margin-top: -60px;
  box-sizing: border-box;
  position: relative;
  z-index: 1;
}

.feature h2 {
  font-size: 1.4rem;
}

.feature_number_box {
  width: 70px;
  height: 70px;
  background-color: #5e42b0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.feature_number {
  color: #ffffff;
}

.feature_number::after {
  background-color: #ffffff;
  opacity: 0.3;
}

.footer {
  background-color: #0a0e34;
  background-image: url("../images/game_767.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  position: relative;
  height: 100vh;
}

.footer::after {
  content: '';
  background-color: #0a0e34;
  opacity: 0.9;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.footer_container {
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 100vh;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 17vh;
  padding-bottom: 1.7vh;
  box-sizing: border-box;
}

.footer_heading {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer_appicon {
  width: 74px;
  height: 74px;
  background: linear-gradient(#7751db, #50329c);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20%;
}

.footer_appicon .surface_logo {
  width: 66%;
  fill: #ffffff;
}

.download {
  margin-top: 10vh;
  text-align: center;
}

h4 {
  font-weight: 700;
  font-size: 2rem;
  color: #ffffff;
  text-transform: uppercase;
  margin: 0;
}

.download_text{
  font-size: 0.875rem;
  color: #9b8ec1;
  text-transform: uppercase;
}

/*
@media (min-width: 320px) {
  h1 {
    font-size: calc(8vw + 0.15rem);
  }
}
*/

@media (min-width: 641px) {
  .header {
    background-image: url("../images/football_1280.jpg");
  }

  .header_container {
    padding-left: 32px;
    padding-right: 32px;
    padding-bottom: 9.3vh;
  }

  .header_logo, .footer_logo {
    width: 205px;
  }

  h1 {
    font-size: 4rem;
  }

  .header_title {
    max-width: 600px;
  }

  .header_storebuttons, .footer_storebuttons {
    width: 100%;
    display: flex;
    justify-content: center;
  }

  .storebutton_link {
    display: flex;
    max-width: 310px;
    height: 77px;
    border-radius: 39px;
    filter: drop-shadow(16px 16px 25px rgba(10,14,52,1));
    padding-left: 0;
    justify-content: center;
    flex-grow: 1;
  }

  .storebutton_link:nth-child(n+2) {
    margin-left: 30px;
    margin-top: 0;
  }

  .storebutton_content {
    width: 208px;
  }

  .storebutton_logo {
    width: 44px;
    height: 44px;
  }

  .storebutton_text {
    font-size: 0.875rem;
    margin-left: 28px;
  }

  .users {
    width: 100%;
    padding-top: 86px;
    position: relative;
  }

  .users_title, .item_title, .item_text {
    padding-left: 40%;
    padding-right: 32px;
  }

  h2 {
    font-size: 5rem;
  }

  .users:nth-child(odd) .users_image {
    position: absolute;
    top: 120px;
    left: calc(50% - 540px);
  }

  .users:nth-child(even) .users_image {
    position: absolute;
    top: 90px;
    left: 50%;
    right: 0;
  }

  .users_content {
    margin-top: 60px;
  }

  .users_item {
    padding-top: 40px;
    padding-bottom: 30px;
  }

  .users_item:nth-child(1) {
    padding-top: 0;
    margin-top: 0;
    background-color: #ffffff;
  }

  .item_number, .feature_number_box {
    font-size: 1.125rem;
  }

  .item_number::after, .feature_number::after {
    height: 5px;
  }

  h3 {
    font-size: 2rem;
  }

  .item_text {
    font-size: 1rem;
  }

  .users:nth-child(2n) .users_title, .users:nth-child(2n) .item_title, .users:nth-child(2n) .item_text {
    padding-right: 40%;
    padding-left: 32px;
  }

  .feature_content {
    margin-top: -90px;
    padding-left: 32px;
    padding-right: 32px;
    padding-bottom: 98px;
  }

  .feature_number_box {
    width: 116px;
    height: 116px;
  }

  .feature_number {
    font-size: 1.5rem;
  }

  .feature h2 {
    font-size: 5rem;
  }

  .feature_text {
    font-size: 1.5rem;
  }

  .footer {
    background-image: url("../images/game_1280.jpg");
  }

  .footer_container {
    padding-left: 32px;
    padding-right: 32px;
    padding-top: 13vh;
    padding-bottom: 2.5vh;
  }

  .footer_appicon {
    width: 130px;
    height: 130px;
  }

  .download {
    margin-top: 8.6vh;
  }

  h4 {
    font-size: 5rem;
  }

  .download_text {
    font-size: 2.25rem;
  }

  .footer_storebuttons {
    margin-top: auto;
    margin-bottom: 5vh;
  }
}

@media (min-width: 961px) {
  .header {
    background-image: url("../images/football_1920.jpg");
  }

  .header_container {
    padding-bottom: 11.4vh;
  }

  h1 {
    font-size: 5.6rem;
  }

  .header_title {
    width: 100%;
    max-width: 1532px;
  }

  .header_title span {
    padding-top: 0;
  }

  .users_title_content, .item_content {
    max-width: 1558px;
    margin-left: auto;
    margin-right: auto;
  }

  .users_title, .item_title, .item_text {
    padding-left: calc(50% + 50px);
    padding-right: 15px;
  }

  .users:nth-child(odd) .users_image {
    position: absolute;
    top: 60px;
  }

  .users:nth-child(even) .users_image {
    position: absolute;
    top: 10px;
    left: auto;
    right: calc(50% - 840px);
  }

  .users_item {
    padding-top: 60px;
    padding-bottom: 50px;
  }

  h3 {
    font-size: 2.25rem;
  }

  .item_text {
    font-size: 1.25rem;
  }

  .users:nth-child(2n) .users_title, .users:nth-child(2n) .item_title, .users:nth-child(2n) .item_text {
    padding-right: calc(50% + 50px);
    padding-left: 15px;
  }

  .footer {
    background-image: url("../images/game_1920.jpg");
  }

  .footer_container {
    padding-top: 23vh;
    padding-bottom: 5vh;
  }

  .footer_heading {
    flex-direction: row;
  }

  .download {
    margin-top: 0;
    margin-left: 36px;
    text-align: start;
  }

  .download_text {
    font-size: 1.875rem;
  }

  .footer_storebuttons {
    margin-top: 15vh;
    margin-bottom: auto;
  }
}

@media (min-width: 1201px) {
  .feature {
    display: flex;
    position: relative;
    align-items: center;
  }

  .feature_image_preview, .feature_content {
    width: 50%;
  }

  .feature_content {
    margin-top: 0;
    padding-left: 129px;
    padding-right: 15px;
    padding-bottom: 0;
  }

  .feature_title {
    display: flex;
    align-items: center;
  }

  .feature_title, .feature_text {
    max-width: 636px;
  }

  .feature:nth-child(even) .feature_title,
  .feature:nth-child(even) .feature_text {
    margin-left: auto;
  }

  .feature_number_box {
    position: absolute;
    width: 168px;
    height: 155px;
  }

  .feature:nth-child(odd) .feature_number_box {
    left: 0;
    margin-left: -84px;
  }

  .feature:nth-child(even) .feature_number_box {
    order: 1;
    right: 0;
    margin-right: -84px;
  }

  .feature:nth-child(even) .feature_image_preview {
    order: 1;
  }

  .feature:nth-child(even) .feature_content {
    padding-left: 15px;
    padding-right: 129px;

  }

  .feature_text {
    margin-top: 60px;
  }
}
