@font-face {
  font-family: "Open Sans";
  src: url("../fonts/OpenSans-Regular.woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Open Sans";
  src: url("../fonts/OpenSans-Bold.woff");
  font-weight: 700;
  font-style: normal;
}

body {
  font-family: "Open Sans", sans-serif;
  background-color: #ffffff;
  margin: 0;
}

.header {
  background-color: #0a0e34;
  background-image: url("../images/football_767.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  position: relative;
  height: 100vh;
}

.header::after {
  content: '';
  background-color: #0a0e34;
  opacity: 0.9;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.header_container {
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 100vh;
  padding-top: 5.8vh;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 15vh;
  box-sizing: border-box;
}

.header_logo, .footer_logo {
  width: 133px;
  fill: #ffffff;
}

h1 {
  font-size: 1.75rem;
  font-weight: 700;
  text-transform: uppercase;
  color: #ffffff;
  margin: 0;
}

.header_title {
  max-width: 280px;
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
}

.header_title_end {
  margin-top: 20px;
  margin-left: 42px;
}

.storebutton_link {
  display: flex;
  padding-left: 80px;
  width: 280px;
  height: 35px;
  background-color: #5e42b0;
  border-radius: 17px;
  text-decoration: none;
  box-sizing: border-box;
}

.storebutton_link:nth-child(n+2) {
  margin-top: 14px;
}

.storebutton_content {
  display: flex;
  align-items: center;

}

.storebutton_logo {
  fill: #ffffff;
  width: 24px;
  height: 24px;
  flex-shrink: 0;
}

.storebutton_text {
  color: #ffffff;
  font-size: 0.5rem;
  text-transform: uppercase;
  margin-left: 8px;
}

.storebutton_text span {
  font-weight: 700;
}

.athletes, .players {
  margin-top: 24px;
}

.athletes_header, .athletes_item, .players_header, .players_item {
  padding-left: 20px;
  padding-right: 20px;
  box-sizing: border-box;
  overflow: hidden;
}

.athletes_header::after {
  content: '';
  display: block;
  background-image: url("../images/footballer_192.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
  width: 192px;
  height: 281px;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
}

h2 {
  font-weight: 700;
  font-size: 3.1rem;
  text-transform: uppercase;
  color: #e7e7e7;
  margin-top: 0;
  margin-bottom: 0;
}

.athletes_item, .players_item {
  padding-top: 50px;
  padding-bottom: 40px;
}

.item_connection {
  padding-top: 80px;
  background-color: #fafafa;
  margin-top: -55px;
}

.item_collaboration {
  background-color: #f5f4f9;
}

.item_growth {
  background-color: #5e42b0;
}

.item_header {
  display: flex;
  align-items: center;
}

.item_number, .feature_number_box {
  font-weight: 700;
  font-size: 0.875rem;
}

.item_title {
  margin-left: 10px;
}

.item_number::after, .feature_number::after {
  content: '';
  display: block;
  background-color: #5e42b0;
  border-radius: 2px;
  height: 4px;
}

.item_growth .item_number::after {
  background-color: #ffffff;
}


h3 {
  font-weight: 700;
  font-size: 1.4rem;
  text-transform: uppercase;
  color: #c1c1c1;
  margin: 0;
}

.item_text {
  font-size: 0.9rem;
}

.item_growth .item_text {
  color: #ffffff;
}

.players_header::after {
  content: '';
  display: block;
  background-image: url("../images/basketballer_302.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
  width: 302px;
  height: 248px;
  position: relative;
  margin-left: auto;
  margin-right: auto;
}

.players .item_growth {
  background-color: #090c35;
}

.players .item_growth .item_number {
  color: #8765dd;
}

.feature_image {
  display: block;
  width: 100%;
  position: relative;
}

.feature_content {
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 60px;
  margin-top: -60px;
  box-sizing: border-box;
  position: relative;
  z-index: 1;
}

.feature_number_box {
  width: 70px;
  height: 70px;
  background-color: #5e42b0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.feature_number {
  color: #ffffff;
}

.feature_number::after {
  background-color: #ffffff;
  opacity: 0.3;
}

.feature_title {
  margin-top: 20px;
}

.footer {
  background-color: #0a0e34;
  background-image: url("../images/game_767.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  position: relative;
  height: 100vh;
}

.footer::after {
  content: '';
  background-color: #0a0e34;
  opacity: 0.9;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.footer_container {
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 100vh;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 17vh;
  padding-bottom: 1.7vh;
  box-sizing: border-box;
}

.footer_heading {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer_appicon {
  width: 74px;
  height: 74px;
  background: linear-gradient(#7751db, #50329c);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20%;
}

.footer_appicon .surface_logo {
  width: 66%;
  fill: #ffffff;
}

.download {
  margin-top: 10vh;
  text-align: center;
}

h4 {
  font-weight: 700;
  font-size: 2rem;
  color: #ffffff;
  text-transform: uppercase;
  margin: 0;
}

.download_text{
  font-size: 0.875rem;
  color: #9b8ec1;
  text-transform: uppercase;
}

@media (min-width: 641px) {
  .header {
    background-image: url("../images/football_1280.jpg");
  }

  .header_container {
    padding-left: 32px;
    padding-right: 32px;
    padding-bottom: 9.3vh;
  }

  .header_logo, .footer_logo {
    width: 205px;
  }

  h1 {
    font-size: 4rem;
  }

  .header_title {
    max-width: 600px;
  }

  .header_title_end {
    margin-top: 20px;
    margin-left: 94px;
  }

  .header_storebuttons, .footer_storebuttons {
    display: flex;
  }

  .storebutton_link {
    display: flex;
    max-width: 310px;
    height: 77px;
    border-radius: 39px;
    filter: drop-shadow(16px 16px 25px rgba(10,14,52,1));
    padding-left: 0;
    justify-content: center;
    flex-grow: 1;
  }

  .storebutton_link:nth-child(n+2) {
    margin-left: 30px;
    margin-top: 0;
  }

  .storebutton_content {
    width: 208px;
  }

  .storebutton_logo {
    width: 44px;
    height: 44px;
  }

  .storebutton_text {
    font-size: 0.875rem;
    margin-left: 28px;
  }

  .athletes, .players {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 86px;
    position: relative;
  }

  .athletes_header, .athletes_items, .players_header, .players_items {
    order: 1;
  }

  .athletes_header, .athletes_item {
    padding-left: 33%;
    padding-right: 32px;
    box-sizing: border-box;
  }

  .athletes_header::after {
    display: none;
  }

  .athletes_header::before {
    content: '';
    width: 497px;
    height: 699px;
    background-image: url("../images/footballer_497.png");
    background-repeat: no-repeat;
    background-position: top right;
    background-size: contain;
    position: absolute;
    margin-left: -460px;
    overflow: hidden;
  }

  h2 {
    font-size: 5rem;
  }

  .athletes_item, .players_item {
    padding-top: 40px;
    padding-bottom: 30px;
  }

  .item_connection {
    background-color: #ffffff;
    padding-top: 50px;
    margin-top: 0;
  }

  .item_number, .feature_number_box {
    font-size: 1.125rem;
  }

  .item_number::after, .feature_number::after {
    height: 5px;
  }

  h3 {
    font-size: 2rem;
  }

  .item_text {
    font-size: 1rem;
  }

  .players_header::after {
    content: '';
    display: block;
    background-image: url("../images/basketballer_436.png");
    background-repeat: no-repeat;
    background-position: top right;
    background-size: contain;
    width: 436px;
    height: 565px;
    top: 0;
    right: 0;
    position: absolute;
    overflow: hidden;
  }

  .players_header, .players_item {
    padding-right: 33%;
    padding-left: 32px;
    box-sizing: border-box;
  }

  .feature_content {
    margin-top: -90px;
    padding-left: 32px;
    padding-right: 32px;
    padding-bottom: 98px;
  }

  .feature_number_box {
    width: 116px;
    height: 116px;
  }

  .feature_number {
    font-size: 1.5rem;
  }

  .feature h3 {
    font-size: 5rem;
  }

  .feature_text {
    font-size: 1.5rem;
  }

  .footer {
    background-image: url("../images/game_1280.jpg");
  }

  .footer_container {
    padding-left: 32px;
    padding-right: 32px;
    padding-top: 13vh;
    padding-bottom: 2.5vh;
  }

  .footer_appicon {
    width: 130px;
    height: 130px;
  }

  .download {
    margin-top: 8.6vh;
  }

  h4 {
    font-size: 5rem;
  }

  .download_text {
    font-size: 2.25rem;
  }

  .footer_storebuttons {
    margin-top: auto;
    margin-bottom: 5vh;
  }
}

@media (min-width: 961px) {
  .header {
    background-image: url("../images/football_1920.jpg");
  }

  .header_container {
    padding-bottom: 11.4vh;
  }

  h1 {
    font-size: 5.6rem;
  }

  .header_title {
    flex-direction: row;
    flex-wrap: wrap;
    max-width: 1532px;
  }

  .header_title_start {
    left: 0;
  }

  .header_title_end {
    margin-left: auto;
  }

  .athletes, .players, .feature {
    max-width: 1558px;
    max-width: 1558px;
    margin-left: auto;
    margin-right: auto;
  }

  .athletes_header, .athletes_item {
    padding-right: 15px;
    padding-left: 50%;
  }

  .athletes_item, .players_item {
    padding-bottom: 50px;
  }

  .athletes_header::before {
    width: 566px;
    height: 908px;
    background-image: url("../images/footballer_566.png");
    margin-left: -600px;
  }

  h3 {
    font-size: 2.25rem;
  }

  .item_text {
    font-size: 1.25rem;
  }

  .players_header, .players_item {
    padding-left: 15px;
    padding-right: 50%;
  }

  .players_header::after {
    background-image: url("../images/basketballer_991.png");
    width: 991px;
    height: 815px;
    top: 0;
    position: absolute;
    overflow: hidden;
  }

  .feature {
    display: flex;
    position: relative;
  }

  .feature_image_preview, .feature_content {
    width: 50%;
  }

  .feature_content {
    display: flex;
    flex-direction: column;
    margin-top: 0;
    padding-left: 129px;
    padding-right: 15px;
    padding-top: 210px;
    padding-bottom: 0;
  }

  .feature_number_box {
    position: absolute;
    width: 168px;
    height: 155px;
  }

  .feature:nth-child(odd) .feature_number_box {
    left: 0;
    margin-left: -84px;
  }

  .feature:nth-child(even) .feature_number_box {
    order: 1;
    right: 0;
    margin-right: -84px;
  }

  .find_contact .feature_image_preview {
    order: 1;
  }

  .find_contact .feature_content {
    padding-left: 15px;
    padding-right: 129px;

  }

  .find_contact .feature_header {
    display: flex;
  }

  .footer {
    background-image: url("../images/game_1920.jpg");
  }

  .footer_container {
    padding-top: 23vh;
    padding-bottom: 5vh;
  }

  .footer_heading {
    flex-direction: row;
  }

  .download {
    margin-top: 0;
    margin-left: 36px;
    text-align: start;
  }

  .download_text {
    font-size: 1.875rem;
  }

  .footer_storebuttons {
    margin-top: 15vh;
    margin-bottom: auto;
  }
}
